.container{
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 320px;
}

.formStyle{
    width: 70%;
    margin-left: 15%!important;
    text-align: center;
    padding-top: 20px;
}
.loginButton{
    width: 60%;
}

