
.container{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: #fff;
}
.container>div{
    width: 50%;
    background: #eee;

}
.container p:nth-child(2){
    margin-top: 20px;
}
.fky{
    width: 73px;
    margin-top: 14px;
    margin-bottom: 17px;
}
.container>img{
    width: 27%;
    margin-top: 20px;
}
.centerP{
    margin: 10px 0;
}
.loginOut_Btn{
    margin-top: 12px;
    margin-bottom: 18px;
}

