.MenuContainer {
  justify-content: center;
  font-size: 16px;
}
@media (max-width: 600px) {
  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }
}
.header {
  margin-bottom: 20px;
}
.header .search-input {
  width: 200px;
  border: none;
  line-height: 40px;
}
.header .ant-menu {
  background-color: #444;
  color: white;
  line-height: 38px;
  height: 41px;
}
.header .ant-menu .ant-menu-item {
  font-size: 15px;
}
.header .ant-menu .ant-menu-item:first-child {
  margin-left: 0px;
}
.header .ant-menu .ant-menu-item:hover {
  background: #333;
  color: #3493ef;
}
.header .ant-input {
  border: none;
}
.header .ant-layout-header {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#484848), to(#5a5a5a));
  height: 120px;
  line-height: 1.5;
}
.header .header-logo-wrp {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-footer {
  height: 40px;
  width: 100%;
  background-color: #444;
}
.header .header-title-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  margin-right: 20px;
}
.header .header-title-item a {
  font-size: 12px;
}
@media (max-width: 767px) {
  .header .combined {
    margin-left: -30px;
    width: 250px;
  }
  .header .combined .title {
    font-size: 20px;
  }
  .header .combined .combined-bar {
    top: 30px;
  }
  .header .combined .content {
    top: 35px;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .header .menu-button-wrp {
    margin-top: -35px;
    display: flex;
  }
  .header .header-footer {
    display: none;
  }
  .header .ant-layout-header {
    height: 80px;
  }
  .header .header-logo div > span:first-child,
  .header .header-logo div > span:last-child {
    font-size: 25px;
  }
  .header .header-title-item {
    width: 60px;
    margin-right: 10px;
  }
  .header .header-title-item a {
    color: #eef4f9;
  }
}
.header .header-title-item:hover {
  background-color: #333;
}
.header .header-title-item a:hover {
  color: #56adf9;
}
.header .header-title-item a {
  text-align: center;
  width: 100%;
  height: 40px;
  color: #eef4f9;
  font-size: 15px;
  line-height: 40px;
}
.header .tag {
  margin-bottom: 5px;
}
@media (max-width: 321px) {
  .header .menu-button-wrp {
    position: relative;
    left: 36px;
  }
}
.header .menu-button {
  line-height: 75px;
  font-size: 22px;
  color: white;
}
.ant-dropdown-menu {
  width: 100vw;
}
.menu-button-wrp {
  display: none;
}
.combined-wrapper {
  padding: 0;
  background: linear-gradient(135deg, #329fff 1%, #8c00ff 100%);
  height: 300px;
  position: relative;
  width: 100%;
}
.combined-reload {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.combined {
  color: #fff;
  width: 260px;
  height: 100px;
  position: relative;
}
.combined-shape {
  position: relative;
}
.combined-shape > * {
  width: 50%;
  height: 64px;
  position: absolute;
  overflow: hidden;
}
.combined-shape > * > * {
  width: 100%;
  height: 100%;
  background: #fff;
}
.combined-shape .shape-left {
  left: 0;
}
.combined-shape .shape-right {
  right: 0;
}
.combined .title {
  color: #3493ef;
  font-size: 30px;
  letter-spacing: 8px;
  position: absolute;
  width: 350px;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.combined-bar {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 45px;
}
.combined .content {
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 52px;
}
