.container {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  clear: both;
}
.articleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}
.articleInfo span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 12px;
}
.articleInfo span img {
  margin-right: 5px;
}
.authorImg {
  width: 20px;
}
.time{
  width: 161px;
  overflow: hidden;
  height: 20px;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 19px;
}
.Reply_Length{
  margin: 2em 0px 0em;
  color: #999;
  /* font-weight: 400; */
  font-size: 22px;
}
.time img{
  margin-top:-3px;
}
.content {
  line-height: 30px;
  font-size: 15px;
}
.content pre {
  position: relative;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  padding-left: 10px !important;
}
.content pre >code{
  font-size: 0.8rem;
}
.detail_title{
  font-size: 1.6em;
}
.content img {
  max-width: 100%;
  height: auto;
}

