/* 箭头右滑hover动画 */
@keyframes spanHover {
    from {
     left: 0px;
    }
    to {
        left: 45px;
    }
}
.container{
       display: flex;
    flex-direction: row;
    height: 216px;
    padding: 18px 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
}
.cover{
    display:block;
}
@media (max-width: 600px) {
    .lastSpan{
        display:none;
    }
    .container>div:first-child{
        display: none!important;
        flex: 0!important;
        /* display: flex; */
    }
    .header{
        position: fixed;
        z-index: 999;
        width: 100%;
    }
}
.container:first-child{
    margin-top:0px;
}
.container:hover{
    background: #effbff;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.1);
}
/* 头像 变大hover*/
.container:hover div:first-child>img{
    transform: scale(1.14);
    /* display:none; */
}

.container:hover>span{
    left: 10px;
}
.container>div:first-child>img{
    width: 206px;
    background-size: 100% 100%;
    height: 174px;
    overflow: hidden;
    transition: 0.4s;
}

.container>div:first-child{
    flex: 2;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.bottomContainer{
    flex: 5;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Cloud_Tags_Box{
    position: relative;
    top: -2px;
}
.title{
    line-height: 37px;
    display: block;
    color: black;
    font-size: 16px;
    height: 50px;
}
.bottomContainer>div{
    display: flex;
    flex-direction: row;
    border-top: dashed thin #ddd;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
}
.bottomContainer>div>p{
    display: flex;
    flex-direction: row;
    color: #cdcdcd;
}
.summary{
    font-size: 14px;
    margin-bottom: 5px;
}
.bottomContainer>div>p img{
    margin-right: 5px;
}
.bottomContainer>div>p>span{
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bottomContainer>div span>img{
    width: 16px;
}
.lastSpan{
    color: #108ee9;
    margin-top: 18px;
    font-weight: 600;
    padding-left: 9px;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
}
.lastSpan:hover{
    background: #ededed;
}
.lastSpan:hover span{
    animation:spanHover 0.8s infinite;
}
.lastSpan>span{
    font-size: 20px;
    transition: 0.4s;
    position: relative;
    top: 2px;
    font-family: iconfont;
}
.cover_Img{
    width: 190px;
    background-size: 100% 100%;
    height: 156px;
}