@media (max-width: 1400px) {
  .Sidebar a {
    margin-right: -1% !important;
  }
}
@media (max-width: 1150px) {
  .Sidebar a {
    margin-right: 1px !important;
  }
  .Sidebar a:first-child {
    margin-left: -18px !important;
  }
}
.Sidebar .call {
  display: flex;
  justify-content: space-between;
}
.Sidebar .call a {
  color: #555;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: -10%;
  border: 1px solid rgba(63, 39, 39, 0.1);
  font-family: iconfont;
  font-size: 20px;
  transition: all 0.3s ease;
}
.Sidebar .call a:hover {
  background-color: #333;
  color: white;
}
.Sidebar a:first-child {
  margin-left: -4%;
}
.Sidebar .abstract {
  color: #999;
  font-size: 13px;
}
.Sidebar .tag {
  margin-bottom: 5px;
}
.Sidebar .card {
  margin-bottom: 20px;
}
.Sidebar .card-title {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
.Sidebar .authorImg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Sidebar .authorImg img {
  margin-top: -80px;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  transition: transform 0.8s ease-in-out;
}
.Sidebar .authorImg img:hover {
  transform: rotate(360deg);
}
.Sidebar .icon-git-wrp {
  display: flex;
  justify-content: start;
}
.Sidebar .icon-git {
  transition: all 0.5s ease;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  font-size: 2rem;
  margin: 5px;
}
.Sidebar .icon-git:hover {
  color: #ececec;
  background-color: #444;
}
.Sidebar .icon-git a:hover {
  color: #fff;
}
.Sidebar .icon-git a {
  color: #767676;
}
@media (max-width: 767px) {
  .Sidebar {
    margin-top: 10px;
  }
}
